

div > div > p:first-child{
    font-size: .6rem;
}

div > div > p:nth-child(2) {
    min-width: 3.5rem;
    font-size: .85rem;
    border-radius: 15px;
    color: white;
    word-break: break-word;
}